/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f8f8f8;
  }
  
  h2 {
    margin: 0;
    font-size: 36px;
    text-align: center;
    
    padding: 20px 0;
  }
  
  h3 {
    margin: 0;
    font-size: 24px;

    text-align: center;
    padding: 20px 0;
  }
  
  section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  select {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  input[type="text"]:read-only {
    background-color: #f5f5f5;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  thead {
    background-color: #007bff;
    color: #fff;
  }
  
  tfoot {
    font-weight: bold;
  }
  
  #total {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilos específicos para el header y footer */
  header,
  footer {
    background-color: #333;
    color: #fff;
  }
  
  header div,
  footer div {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
  }
  
  footer {
    margin-top: 20px;
  }
  
  footer h6 {
    font-size: 14px;
    text-align: center;
  }
  